<header>
    <div class="header-nav">
      <a href="/">BLOG</a>
      <ul>
        <li><a href="/list">メニュー一覧</a></li>
        <li><a href="/cart">カートへ</a></li>
      </ul>
    </div>
    <p>おむすびショッピング</p>
  </header>