
<head>
  <meta charset="UTF-8">
  <title>Shopping List</title>
  <li><a href="/cart">カートへ</a></li>
</head>
<body>
  <%- include('header'); %>
  <main>
    <ul class="omusubilist">
      <% omusubilist.forEach((omusubi) => { %>
        <li>
          <% if (omusubi[2] === '期間限定') {%>
            <i>期間限定</i> 
          <% }else{ %> 
            <i>定番</i> 
            <%} %>           
          <h2><%= omusubi[0] %></h2>
          <h3><%= omusubi[3] %></h3>
          <a href="/cart">カートに追加</a>
        </li>
        <% }) %>
    </ul>
  </main>
  
</body>
</html>
