<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shopping List</title>

</head>
<body>
  <%- include('header'); %>
  <main>
    <ul class="omusubilist">
      <% omusubi.forEach((omusubi) => { %>
        <li>
          <% if (omusubi.category === 'limited') {%>
            <i>期間限定</i> 
          <% } %>           
          <h2><%= omusubi.name %></h2>
          <a href="/cart">カートに追加</a>
        </li>
        <% }) %>
    </ul>
  </main>
  
</body>
</html>
