@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    color: #2B546A;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    font-family: Lato, "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  }

img {
max-width: 100%;
display: block;
}
